<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc.xsd 
		http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:property-placeholder location="classpath*:*.properties" />

	<!-- Setup our datasource -->
	<bean class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" id="dataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />

		<property name="url" value="jdbc:postgresql://10.221.212.128:5432/db1137"/>
		<!-- property name="url" value="jdbc:postgresql://localhost:5432/db1137" /-->
		<!-- property name="url" value="jdbc:postgresql://172.23.31.11:5432/db0312" /-->
		<property name="username" value="postgres" />
		<property name="password" value="postgres" />

		<!-- Connection pooling setup -->
		<property name="initialSize" value="2" />
		<property name="maxActive" value="5" />
		<property name="maxIdle" value="3" />

		<!-- Connection pool validation -->
		<property name="validationQuery" value="SELECT 1" />
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="1200000" />
		<property name="minEvictableIdleTimeMillis" value="1800000" />
		<property name="numTestsPerEvictionRun" value="5" />

	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- Setup our transaction manager to be a datasource transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Import all the services we provide, ie, import any modules on the classpath with a *SpringContext.xml-->
	<!-- import resource="classpath*:*SpringContext.xml" /--> <!-- Any xml file matching given regex will be loaded-->
	<import resource="masterSpringContext.xml"/>
	<import resource="daoSpringContext.xml"/>
	<import resource="schemaSpringContext.xml"/>
	
	<import resource="cashtillSpringContext.xml"/>
	
</beans>
